body {
    background: linear-gradient(0.25turn, #084b68, #aaada8);
    
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav{
    display: flex;
    justify-content: center; 

}
ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 60px; */
    width: 100%;
}

li a {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    /* font-size: 16px; */
    font-size: 150%;
    color: white;
    text-decoration: none;/*retira sublinhado do texto*/
    margin: 15px;
}
@media screen and (max-width: 630px) {
    
    ul#desktop{
        display: none;
    }
}

/*Estilizando conatiner de inicialização*/
section#bloco1 {
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
    height: 100%;
}

div.bloco1 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    width: 90%;

}

div#titulo-principal {
    width: 50%;
    text-align: center;
    /* margin-top: 50px;
    margin-right: 100px;
    margin-left: 30px; */
    margin-top: 20vh;
    
}

div#titulo-principal h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: white; 
}
div#titulo-principal h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: white; 
}

div#bt {
    display: flex;
    justify-content: center;
}

div#bt-principal {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background: #aaada8;
    box-shadow: 2px 2px 2px black ;/*efeito de sombra*/
}

div#bt-principal-1 {
    margin-top: 12px;
}

a#bt-principal{
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

/**/

div#foto-principal {
    text-align: center;
    /* width: 400px;
    height: 400px; */
    width: 50%;
    /* height: 50%; */
    /* border-radius: 50%; */
    /* margin-top: 100px;
    margin-right: 150px; */
    margin-top: 20vh;
}

img#foto-principal {
    width: 450px;
    height: 450px;
    border-radius: 225px;
    /* width: 100%; */
    /* height: 100%; */
    /* border-radius: 50%; */
    
}

@media screen and (max-width: 815px) {

    section#bloco1 {
        /* height: 80vh; */
    }

    div.bloco1{
        display: grid;
        justify-content: center;
    }

    div#titulo-principal{
        width: 100%;
    }
    
    div#titulo-principal h1 {
        font-size: 200%;
    }

    div#titulo-principal h2 {
        font-size: 100%;
    }

    div#foto-principal{
        /* display: none; */
        width: 100%;
    }

    img#foto-principal {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    
}

/*Estilizando fonte de titulos*/
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: white; 
}
h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white; 
}

/*Estilizando container Sobre*/
section#bloco2 {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    /* height: 80vh; */
    height: 100%;
}
#bloco2-title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
div.bloco2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
}
div.bloco2-1{
    text-align: center;
    width: 90%;
    height: 50vh;
}
div.bloco2 img{
    width: 200px;
    margin-top: 30px;
}
div.bloco2-1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 120%;
    color: white; 
    margin-top: 45px;
}

@media screen and (max-width: 815px) {
    section#bloco2 {
        /* display: flex;
        justify-content: center; */
        width: 100%;
        /* height: 120vh; */
    }

    div.bloco2 img{
        width: 20%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 430px) {
    section#bloco2 {
        /* display: flex;
        justify-content: center; */
        width: 100%;
        /* height: 60vh; */
    }
}

/*Estilizando container Metodologia*/
section#bloco3 {
    /* display: flex;
    justify-content: center; */
    width: 100%;
}

#bloco3-title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

div#bloco3{
    display: flex;
    justify-content: center;

}

div.card {
    margin: 15px;
    text-align: center;
    width: 20%;
    height: 20%;
}
img.card-img-top {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    /* margin-top: 10px; */
}

@media screen and (max-width: 815px) {

    div#bloco3{

        display: grid;
        justify-content: center;

}
}

/*Estilizando container Post*/
section#bloco4{
    width: 100%;
    height: 100vh;
}

#bloco4-title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

div.bloco4{
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 500px; */
    /* margin-bottom: 50px; */
}

div.bloco4-1{
    text-align: center;
    margin-top: 40px;
    /* margin: 40px; */
}

div#img-post{
    margin: 20px;
}

div.bloco4-1 img{
    width: 250px;
    height: 250px;
    border-radius: 125px;
}
div.bloco4-1 h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    /* font-size: 120%; */
    font-weight: 400;
    color: white;
    margin: 30px;
}
div.bloco4-1 p{
    text-align: justify;
}
/**/
div#bt {
    display: flex;
    justify-content: center;
}
div#bt-post {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 2px 2px 2px black ;/*efeito de sombra*/
}

div#bt-post-1 {
    margin-top: 8px;
}

a#bt-post{
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 815px) {
    section#bloco4 {
        /* display: flex;
        justify-content: center; */
        width: 100%;
        height: 100%;
        /* height: 350vh; */
    }

    div.bloco4{
        display: grid;
        justify-content: center;

    }

    div#img-post{
        margin: 10px;
    }
    
    div.bloco4-1 img{
        width: 250px;
        height: 250px;
        border-radius: 125px;
    }
}

@media screen and (max-width: 430px) {
    section#bloco4 {
        /* display: flex;
        justify-content: center; */
        width: 100%;
        /* height: 100vh; */
    }
}

/*Estilizando container do map*/
section#bloco5{
    width: 100%;
}

#bloco5-title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.bloco5{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    /*margin-bottom: 10px;*/
}
div.bloco5-1{
    text-align: center;
    /* width: 650px;
    height: 450px; */
    width: 50%;
    background: linear-gradient(0.25turn, #0f191d, #555855);
    box-shadow: 2px 2px 2px black;
}
div.bloco5-1 h5{
    font-size: 100%;
}
iframe#map{
    width: 95%;
    /* margin-top: 10px; */
}

@media screen and (max-width: 1200px) {
    div.bloco5-1{
        width: 95%;
        height: 500px;
    }
}

/*Estilizando container forms*/
section#bloco6{
    width: 100%;
}

#bloco6-title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

div.bloco6{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 470px;
    /*margin-bottom: 10px;*/
}
div.bloco6-1{
    width: 90%;

}
iframe#forms{
    width: 100%;
    /* margin-top: 10px; */
}

@media screen and (max-width: 815px) {
    iframe#forms{
        width: 100%;
        /* margin-top: 10px; */
    }
}

footer{
    text-align: center;
}

/*tratando responsividade para monitor*/
/* @media screen and (max-width: 400px) {} */