body {
    background: linear-gradient(0.25turn, #084b68, #aaada8);
    
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}
nav{
    display: flex;
    justify-content: center; 
}
ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

li a {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;/*retira sublinhado do texto*/
    margin: 15px;
}

/*parte01*/
section {
    display: flex;
    justify-content: center;
    width: 100%;
}
div.bloco1 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    width: 90%;
}
div#titulo-principal {
    width: 50%;
    text-align: center;
    /* margin-top: 50px;
    margin-right: 100px;
    margin-left: 30px; */
    margin-top: 20vh;
    
}
/**/
div#bt {
    display: flex;
    justify-content: center;
}
div#bt-principal {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background: #aaada8;
    box-shadow: 2px 2px 2px black ;/*efeito de sombra*/
}
div#bt-principal-1 {
    margin-top: 12px;
}
a#bt-principal{
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
/**/
/*
input {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 2px 2px 2px black ;/*efeito de sombra
}
*/
div#titulo-principal h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    /* font-size: 70px; */
    font-size: 300%;
    color: white; 
}
div#titulo-principal h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    /* font-size: 30px; */
    font-size: 200%;
    color: white; 
}
div#foto-principal {
    text-align: center;
    /* width: 400px;
    height: 400px; */
    width: 50%;
    /* height: 50%; */
    /* border-radius: 50%; */
    /* margin-top: 100px;
    margin-right: 150px; */
    margin-top: 20vh;
}
img#foto-principal {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    /* width: 100%; */
    /* height: 100%; */
    /* border-radius: 50%; */
    
}
/*parte02*/
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: white; 
}
div.card {
    /* margin: 15px; */
    text-align: center;
    width: 20%;
    height: 20%;
}
img.card-img-top {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    /* margin-top: 10px; */
}
h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white; 
}
div.bloco2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
}
div.bloco2-1{
    text-align: center;
}
div.bloco2 img{
    width: 20%;
    margin-top: 30px;
}
div.bloco2-1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white; 
    margin-top: 45px;
}
div.bloco4{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}
div.bloco4-1{
    text-align: center;
    width: 400px;
    /* margin: 40px; */

}
div.bloco4-1 img{
    width: 250px;
    height: 250px;
    border-radius: 125px;
}
div.bloco4-1 h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
div.bloco4-1 p{
    text-align: justify;
}
/**/
div#bt {
    display: flex;
    justify-content: center;
}
div#bt-post {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 2px 2px 2px black ;/*efeito de sombra*/
}
div#bt-post-1 {
    margin-top: 8px;
}
a#bt-post{
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
/**/
div.bloco5{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 470px;
    /*margin-bottom: 10px;*/
}
div.bloco5-1{
    text-align: center;
    width: 650px;
    height: 450px;
    background: linear-gradient(0.25turn, #0f191d, #555855);
    box-shadow: 2px 2px 2px black;
}
iframe{
    margin-top: 10px;
}

div.bloco6{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 470px;
    /*margin-bottom: 10px;*/
}

footer{
    text-align: center;
}
/*tratando responsividade para monitor*/
@media screen and (min-width: 1500px) {
    body {
        background: linear-gradient(0.25turn, #084b68, #aaada8);
        
    }
    
    header {
        display: flex;
        justify-content: center;
        
    }
    nav{
        display: flex;
        justify-content: center;
    }
    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 120px;
    }
    
    li a {
        display: block;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: white;
        text-decoration: none;/*retira sublinhado do texto*/
        margin: 15px;
    }
    section {
        display: flex;
        justify-content: center;
    }
    div.bloco1 {
        display: flex;
        justify-content: center;
        /*width: 100%;*/
        height: 80vh;
        margin-top: 80px;
        margin-bottom: 100px;
    }
    div#titulo-principal {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        margin-right: 100px;
        margin-left: 30px;
        
    }
    /**/
    div#bt {
        display: flex;
        justify-content: center;
    }
    div#bt-principal {
        width: 200px;
        height: 50px;
        border-radius: 50px;
        background: #aaada8;
        box-shadow: 2px 2px 2px black ;/*efeito de sombra*/
    }
    div#bt-principal-1 {
        margin-top: 12px;
    }
    a#bt-principal{
        height: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        color: black;
    }
    /**/
    /*
    input {
        width: 200px;
        height: 50px;
        border-radius: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        font-weight: 700;
        box-shadow: 2px 2px 2px black ;/*efeito de sombra
    }
    */
    div#titulo-principal h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 90pt;
        color: white; 
    }
    div#titulo-principal h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        font-size: 30pt;
        color: white; 
    }
    div#foto-principal {
        text-align: center;
        width: 400px;
        height: 400px;
        border-radius: 200px;
        margin-top: 100px;
        margin-right: 300px;
    }
    img#foto-principal {
        width: 600px;
        height: 600px;
        border-radius: 300px;
        
    }
    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: white; 
    }
    div.card {
        margin: 15px;
        text-align: center;
    }
    img.card-img-top {
        width: 250px;
        height: 250px;
        border-radius: 125px;
        margin-top: 10px;
    }
    h5 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: white; 
    }
    div.bloco2{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50vh;
    }
    div.bloco2-1{
        text-align: center;
    }
    div.bloco2 img{
        width: 30%;
        margin-top: 30px;
    }
    div.bloco2-1 p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: white; 
        margin-top: 45px;
    }
    section#bloco3{
        margin-bottom: 100px;
    }
    section#bloco3-1{
        height: 50vh;
    }
    div.bloco4{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 60vh;
        margin-bottom: 50px;
    }
    div.bloco4-1{
        text-align: center;
        width: 400px;
        margin: 40px;
    
    }
    div.bloco4-1 img{
        width: 250px;
        height: 250px;
        border-radius: 125px;
    }
    div.bloco4-1 h2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: white;
    }
    div.bloco4-1 p{
        text-align: justify;
    }
    /**/
    div#bt {
        display: flex;
        justify-content: center;
    }
    div#bt-post {
        width: 150px;
        height: 40px;
        border-radius: 50px;
        background: #ffffff;
        box-shadow: 2px 2px 2px black ;/*efeito de sombra*/
    }
    div#bt-post-1 {
        margin-top: 8px;
    }
    a#bt-post{
        height: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        color: black;
    }
    /**/
    div.bloco5{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 470px;
        /*margin-bottom: 10px;*/
    }
    div.bloco5-1{
        text-align: center;
        width: 650px;
        height: 450px;
        background: linear-gradient(0.25turn, #0f191d, #555855);
        box-shadow: 2px 2px 2px black;
    }
    iframe{
        margin-top: 10px;
    }
    
    div.bloco6{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 470px;
        /*margin-bottom: 10px;*/
    }
    
    footer{
        text-align: center;
    }
}